* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #18db86;
    --segundary: white;
    --segundary-light: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /*start si las quiero alante  */
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 500px;
    opacity: 0.30;
}

/*circle perfil*/
.profile div {
    position: absolute;
}

.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 330px;
    height: 450px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.circle-trans {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 30px rgb(0, 255, 204);
    opacity: .3;
    z-index: 20;
    top: 90px;
}

.circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: solid 15px rgb(0, 255, 204);
    z-index: 21;
    top: 120px;
}

.profile-img {
    top: 137px;
    z-index: 20;
}

.profile-img img {
    width: 200 px;
    height: 200px;
    border-radius: 50%;
}

.square-text {
    color: var(--segundary);
    font-size: 2rem;
    top: 380px;
    z-index: 11;

}

.square-text-2 {
    color: var(--segundary);
    font-size: 1.2rem;
    top: 418px;
    z-index: 11;
}

.square-text-3 {
    color: var(--segundary);
    font-size: 1.3rem;
    top: 485px;
    z-index: 11;
}

.square-text-3 a {
    color: var(--segundary);
    text-decoration: none;
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 0 10 px;
}